APP_ENV=local

PMA_HOSTS="auth-mysql,example-mysql" # Use service names from docker-compose as hostnames
PMA_VERBOSES="Auth,Example" # Set custom names for the servers in the dropdown menu
PMA_PORT=8080

FORWARD_REDIS_PORT=6379
